
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
  text-align: center;
}

.jumbotron hr {
  border-top: 2px solid #b4b4b4;
  width: 100%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.jumbotron h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron .lead {
  font-weight: bold;
}

.fragen {
  font-style: italic;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 1px solid #b4b4b4;
  width: 65%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer img {
  background-color: #e8e8e8;
  border-radius: 20px;
  box-shadow: 1px 1px 15px #000;
  width: 100px;
  height: auto;
}


/*---Media Queries --*/
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%
  }
  .display-4 {
    font-size: 200%;
  }
  .lead.text {
    font-size: 3vw;
  }
  .anmerkungen {
    font-size: 2vw;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%
  }
  .display-4 {
    font-size: 160%;
  }

  .lead.text {
    font-size: 3vw;
  }
  .anmerkungen {
    font-size: 3vw;
  }
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}


/*--Style für Textseiten--*/
.blockquote {
  font-size: 3vw;
}

.lead.text span {
    font-style: italic;
}

.lead.text {
    text-align: justify;
}

.button-nav {
    margin-top: 3rem;
}

.anmerkungen {
  text-align: left;
  padding-top: 1rem;
}

.anmerkungen hr {
  border-top: 1px solid #b4b4b4;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



